// Charting
#chart {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke: white;
  stroke-width: 3px;
}

header {
  background-color: #8FC2FF;
  background-size: cover;
  padding: 5px;
  margin-bottom: 25px;
}

.light {
  color: white;
}

.light.subheader {
  color: white;
}